name: Tests

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '.github/**'
    branches:
      - 'main'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '.github/**'
    branches:
      - "**"

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Ruff
        run: pipx install ruff==0.2.1 # Needs to match pyproject.toml

      - name: Lint with Ruff
        run: ruff --output-format=github .
        continue-on-error: false
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      - name: Lock Poetry
        run: poetry lock

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: poetry

      - name: Install test dependencies
        run: poetry install
        continue-on-error: true

      - name: Run unit tests
        run: |
          poetry run pytest tests/unit
        continue-on-error: false
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      - name: Lock Poetry
        run: poetry lock

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: poetry

      - name: Install test dependencies
        run: poetry install
        continue-on-error: true

      - name: Run integration tests
        run: |
          poetry run pytest tests/integration
        continue-on-error: false
